@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
<style>
    /* Add your existing CSS styles here */

    /* Style to separate label and input */
    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        /* Adjust as needed */
    }

    .text-small-uppercase {
        margin-bottom: 5px;
        /* Adjust as needed */
    }
</style>
<style>
    .logo-container {
        position: fixed;
        top: 10px;
        /* Adjust the top position as needed */
        left: 10px;
        /* Adjust the left position as needed */
        z-index: 1000;
        /* Ensure the logo appears above other content */
    }

    .logo {
        width: 100px;
        /* Adjust the width as needed */
        height: auto;
    }
</style>
<div class="logo-container">
    <img src="~/image/b.png" alt="Logo" class="logo">
</div>


<section>
    <article>
        <ul class="panels">
            <li class="panel">
                <a href="/Abonne">
                    <span>
                        Home
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 510 513">
                            <g fill="none" fill-rule="evenodd">

                            </g>
                        </svg>
                    </span>
                </a>
                <img src="~/image/b.png" alt="image of hot air balloons" />
            </li>
            <li class="panel">
                <a href="/Livre/Create">
                    <span>
                        Ajouter Livre
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 442">
                            <g fill="none" fill-rule="evenodd">

                            </g>
                        </svg>
                    </span>
                </a>
                <img src="https://i.pinimg.com/564x/e5/94/5c/e5945cc99bb9abb55fbcbb099e7d414a.jpg"
                    alt="image of lions" />
            </li>
            <li class="panel">
                <a href="/Abonne/Create">
                    <span>
                        Ajouter Abonné
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 452">
                            <g fill="none" fill-rule="evenodd">
                                <g fill-rule="nonzero" class="fill">

                                </g>
                        </svg>
                    </span>
                </a>
                <img src="https://i.pinimg.com/564x/ed/8f/aa/ed8faac972c714ba42f4930a90b541b8.jpg"
                    alt="Marthin Luther King" />
            </li>
            <li class="panel">
                <a href="/Livre">
                    <span>
                        Les livres
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 449 480">
                            <g fill="none" fill-rule="evenodd">

                            </g>
                        </svg>
                    </span>
                </a>
                <img src="https://i.pinimg.com/564x/90/64/9e/90649e52e36e8b236713a269c9c4d08e.jpg"
                    alt="image of spaceship" />
            </li>


        </ul>
        <h1>

            <span class="gradient-text letter">B</span>
            <span class="gradient-text letter">o</span>
            <span class="gradient-text letter">o</span>
            <span class="gradient-text letter">k</span>
            <span class="gradient-text letter">s</span>
            <span class="gradient-text letter">B</span>
            <span class="gradient-text letter">r</span>
            <span class="gradient-text letter">i</span>
            <span class="gradient-text letter">d</span>
            <span class="gradient-text letter">g</span>
            <span class="gradient-text letter">e</span>






        </h1>

        <span class="geo-square">
            <img src="~/image/b.png" alt="image of butterfly, graphic purpose only" />
        </span>
    </article>
</section>

</html>